<!doctype html>
<html>
<%= partial 'layouts/partials/head' %>

<body class="<%= page_classes %>">
<div id="wrap">
  <div class='container' id="main" role="main">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="frontpage">
          <%= yield %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="frontpage">
          <h1><i class="fa">&#xf06c;</i></h1>
        </div>
        <%= partial 'layouts/partials/sivupalkki' %>
      </div>
    </div>
  </div>
</div>
<%= partial 'layouts/partials/alapalkki' %>
</body>
</html>
