<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title>Jolte Sukukirjasto</title>

  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "site" %>

  <%= javascript_include_tag "jquery-1.11.3.min" %>
  <%= javascript_include_tag "all" %>
  <%= javascript_include_tag "bootstrap.min" %>
</head>

<body class="<%= page_classes %>">

<div class='container' id="main" role="main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <h1><%= current_page.data.etunimet %> <%= current_page.data.sukunimi %></h1>
      <% if current_page.data.kuva %>
          <%= image_tag current_page.data.kuva, width: '150px' %>
      <% end %>
      s. <%= current_page.data.try(:syntyi) %>

      <h3>Vanhemmat</h3>
      <ul>
        <% vanhemmat(current_page).each do |vanhempi| %>
            <li>
              <%= nimilinkki vanhempi %>
            </li>
        <% end %>
      </ul>

      <% puoliso = current_page.data.try(:puoliso) %>
      <% if puoliso.present? %>
          <h3>Puoliso</h3>
          <ul>
            <li>
              <%= nimilinkki puoliso %>
            </li>
          </ul>
      <% end %>

      <%= partial 'layouts/partials/lapset' %>

      <h2>Esiintyy tarinoissa</h2>
      <ul>
        <% tarinat(current_page).each do |article| %>
            <li>
              <%= link_to article.data.linkki, article %>
            </li>
        <% end %>
      </ul>

      <%= yield %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <%= partial 'layouts/partials/sidebar' %>
    </div>
  </div>

</div>
</body>
</html>
