<!doctype html>
<html>
<%= partial 'layouts/partials/head' %>

<body class="<%= page_classes %>">
<div id="wrap">
  <div class='container' id="main" role="main">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="well">

          <% if current_page.data.kuva %>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                  <%= image_tag current_page.data.kuva, id: 'portrait' %>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
                  <%= partial 'layouts/partials/person_card' %>
                </div>
              </div>
          <% else %>
              <%= partial 'layouts/partials/person_card' %>
          <% end %>

        </div>

        <div class="well">
          <div class="row">
            <div class="col-lg-12">
              <% puoliso = current_page.data.try(:puoliso) %>
              <% if puoliso.present? %>
                  <h4>Puoliso</h4>
                  <ul>
                    <li>
                      <%= taululinkki puoliso %>
                    </li>
                  </ul>
              <% end %>
              <%= partial 'layouts/partials/lapset' %>
            </div>
          </div>
        </div>
        <!--<= link_to 'muokkaa', git_link(current_page), class: 'pull-right'  %>-->
        <div class="well">
          <%= yield %>

          <% stories = tarinat(current_page) %>
          <% if stories.count > 0 %>
              <h3>Esiintyy tarinoissa</h3>
              <ul>
                <% tarinat(current_page).each do |article| %>
                    <li>
                      <%= link_to article.data.linkki, article %>
                    </li>
                <% end %>
              </ul>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= partial 'layouts/partials/sidebar' %>
      </div>
    </div>

  </div>
</div>
<%= partial 'layouts/partials/footer' %>
</body>
</html>
